ConquestionGame.Presentation.WebClient/Connected Services/ConquestionServiceReference/ConquestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConquestionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IConquestionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConquestionGame.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConquestionService_CreatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrievePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePlayer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrievePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateGame2_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame2" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateGame2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame2Response" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ActiveGames_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveGames" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ActiveGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ChooseGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ChooseGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ChooseGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChooseGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllPlayersByGameId_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllPlayersByGameId" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllPlayersByGameId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllPlayersByGameIdResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddQuestionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionSet" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_AddQuestionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionSetResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckIfGameIsFinished_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfGameIsFinished" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckIfGameIsFinished_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfGameIsFinishedResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllQuestionSets_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllQuestionSets" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveAllQuestionSets_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllQuestionSetsResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSet" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSetResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSetByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSetByTitle" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_RetrieveQuestionSetByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveQuestionSetByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ValidateAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAnswer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_ValidateAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckPlayerAnswers_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerAnswers" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckPlayerAnswers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_SubmitAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnswer" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_SubmitAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckIfAllPlayersAnswered_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfAllPlayersAnswered" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CheckIfAllPlayersAnswered_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfAllPlayersAnsweredResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateRound_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRound" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_CreateRound_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoundResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_GetRoundWinner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoundWinner" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_GetRoundWinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoundWinnerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_GetRandomQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomQuestion" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_GetRandomQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_DetermineGameWinner_InputMessage">
    <wsdl:part name="parameters" element="tns:DetermineGameWinner" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_DetermineGameWinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetermineGameWinnerResponse" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_DetermineNoOfCorrectAnswers_InputMessage">
    <wsdl:part name="parameters" element="tns:DetermineNoOfCorrectAnswers" />
  </wsdl:message>
  <wsdl:message name="IConquestionService_DetermineNoOfCorrectAnswers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetermineNoOfCorrectAnswersResponse" />
  </wsdl:message>
  <wsdl:portType name="IConquestionService">
    <wsdl:operation name="CreatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CreatePlayer" message="tns:IConquestionService_CreatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CreatePlayerResponse" message="tns:IConquestionService_CreatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrievePlayer" message="tns:IConquestionService_RetrievePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrievePlayerResponse" message="tns:IConquestionService_RetrievePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CreateGame" message="tns:IConquestionService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CreateGameResponse" message="tns:IConquestionService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGame2">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CreateGame2" message="tns:IConquestionService_CreateGame2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CreateGame2Response" message="tns:IConquestionService_CreateGame2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/AddPlayer" message="tns:IConquestionService_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/AddPlayerResponse" message="tns:IConquestionService_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/ActiveGames" message="tns:IConquestionService_ActiveGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/ActiveGamesResponse" message="tns:IConquestionService_ActiveGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChooseGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/ChooseGame" message="tns:IConquestionService_ChooseGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/ChooseGameResponse" message="tns:IConquestionService_ChooseGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/JoinGame" message="tns:IConquestionService_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/JoinGameResponse" message="tns:IConquestionService_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/LeaveGame" message="tns:IConquestionService_LeaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/LeaveGameResponse" message="tns:IConquestionService_LeaveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllPlayersByGameId">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllPlayersByGameId" message="tns:IConquestionService_RetrieveAllPlayersByGameId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllPlayersByGameIdResponse" message="tns:IConquestionService_RetrieveAllPlayersByGameId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/StartGame" message="tns:IConquestionService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/StartGameResponse" message="tns:IConquestionService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuestionSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/AddQuestionSet" message="tns:IConquestionService_AddQuestionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/AddQuestionSetResponse" message="tns:IConquestionService_AddQuestionSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfGameIsFinished">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CheckIfGameIsFinished" message="tns:IConquestionService_CheckIfGameIsFinished_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CheckIfGameIsFinishedResponse" message="tns:IConquestionService_CheckIfGameIsFinished_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllQuestionSets">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllQuestionSets" message="tns:IConquestionService_RetrieveAllQuestionSets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveAllQuestionSetsResponse" message="tns:IConquestionService_RetrieveAllQuestionSets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSet" message="tns:IConquestionService_RetrieveQuestionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSetResponse" message="tns:IConquestionService_RetrieveQuestionSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSetByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSetByTitle" message="tns:IConquestionService_RetrieveQuestionSetByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/RetrieveQuestionSetByTitleResponse" message="tns:IConquestionService_RetrieveQuestionSetByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/ValidateAnswer" message="tns:IConquestionService_ValidateAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/ValidateAnswerResponse" message="tns:IConquestionService_ValidateAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerAnswers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CheckPlayerAnswers" message="tns:IConquestionService_CheckPlayerAnswers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CheckPlayerAnswersResponse" message="tns:IConquestionService_CheckPlayerAnswers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/SubmitAnswer" message="tns:IConquestionService_SubmitAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/SubmitAnswerResponse" message="tns:IConquestionService_SubmitAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfAllPlayersAnswered">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CheckIfAllPlayersAnswered" message="tns:IConquestionService_CheckIfAllPlayersAnswered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CheckIfAllPlayersAnsweredResponse" message="tns:IConquestionService_CheckIfAllPlayersAnswered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRound">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/CreateRound" message="tns:IConquestionService_CreateRound_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/CreateRoundResponse" message="tns:IConquestionService_CreateRound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoundWinner">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/GetRoundWinner" message="tns:IConquestionService_GetRoundWinner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/GetRoundWinnerResponse" message="tns:IConquestionService_GetRoundWinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/GetRandomQuestion" message="tns:IConquestionService_GetRandomQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/GetRandomQuestionResponse" message="tns:IConquestionService_GetRandomQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetermineGameWinner">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/DetermineGameWinner" message="tns:IConquestionService_DetermineGameWinner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/DetermineGameWinnerResponse" message="tns:IConquestionService_DetermineGameWinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetermineNoOfCorrectAnswers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConquestionService/DetermineNoOfCorrectAnswers" message="tns:IConquestionService_DetermineNoOfCorrectAnswers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConquestionService/DetermineNoOfCorrectAnswersResponse" message="tns:IConquestionService_DetermineNoOfCorrectAnswers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IConquestionService" type="tns:IConquestionService">
    <wsp:PolicyReference URI="#WSHttpBinding_IConquestionService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePlayer">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/CreatePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePlayer">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/RetrievePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame2">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/CreateGame2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/AddPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveGames">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/ActiveGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChooseGame">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/ChooseGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllPlayersByGameId">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/RetrieveAllPlayersByGameId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQuestionSet">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/AddQuestionSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfGameIsFinished">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/CheckIfGameIsFinished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllQuestionSets">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/RetrieveAllQuestionSets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSet">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/RetrieveQuestionSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuestionSetByTitle">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/RetrieveQuestionSetByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAnswer">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/ValidateAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerAnswers">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/CheckPlayerAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAnswer">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/SubmitAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfAllPlayersAnswered">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/CheckIfAllPlayersAnswered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRound">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/CreateRound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoundWinner">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/GetRoundWinner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomQuestion">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/GetRandomQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetermineGameWinner">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/DetermineGameWinner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetermineNoOfCorrectAnswers">
      <soap12:operation soapAction="http://tempuri.org/IConquestionService/DetermineNoOfCorrectAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConquestionService">
    <wsdl:port name="WSHttpBinding_IConquestionService" binding="tns:WSHttpBinding_IConquestionService">
      <soap12:address location="https://localhost:8000/ConquestionSecureService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:8000/ConquestionSecureService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>